@{ 
    ViewData["Title"] = "Movies";
}


<table class="table table-bordered">
    <thead>
        <tr>
            <td>Movie Title</td>
            <td>Category</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Notes</td>
        </tr>
    </thead>
</table>

