<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mission4</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <div>
        <nav>
            <div>

                <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Home</a>
                <a class="btn btn-dark" asp-controller="Home" asp-action="addMovie"> Enter A Movie</a>
                <a class="btn btn-dark" asp-controller="Home" asp-action="movieTable">View Movies</a>
                <a class="btn btn-dark" asp-controller="Home" asp-action="podcast">My Podcasts</a>

            </div>
        </nav>
        @RenderBody()
    </div>
</body>
</html>
