<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mission4</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">The Joel Hilton Film Collection</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="addMovie"> Enter A Movie</a></li>
                    <li><a asp-controller="Home" asp-action="movieTable">View Movies</a></li>
                    <li><a asp-controller="Home" asp-action="podcast">My Podcasts</a></li>
                </ul>
            </div>
        </nav>
        @RenderBody()
    </div>
</body>
</html>
